
<!-- <script>
    function sendMessage() {
		if (message != null){
			console.log(message)
			socket.emit('message',  {
				name: $name,
				message: message
			});
			message = null;
		}
	};
	socket.on('chat-message', message => {
		console.log(' recived chat ', message )
		chatMessages.push({
			id: Math.random(),
			player: message.name,
			message: message.message
		});
		$chatMessageDisplay = chatMessages;
	});
</script>

<style>
	
</style>

<span class="title">
    Site Chat:
</span>
<div class="view">
    {#each $chatMessageDisplay as item}
    <li class="message">
        <span>{item.player}:</span>
        <span>{item.message}</span>
    </li>
    {/each}
</div>
<div class="send" >
    <input id="message" type="text" bind:value={message} />
    <button on:click={sendMessage}>Send</button>
</div> -->
