<script>
	import { writable } from 'svelte/store';
	import { socket } from './api.js';
    
    const gameLogDisplay = writable([]);
	let gameLogs = [];

    // manage messages/logs
	socket.on('log-move', message => {
		gameLogs.push({
			id: Math.random(),
			player: message.player,
			message: message.message
		});
		$gameLogDisplay = gameLogs;
	});
</script>

<style>
	
</style>

span class="title">
    Game Log:
</span>
<div id="log" class="view">
    {#each $gameLogDisplay as item}
    <li class="message">
        <span>{item.player}:</span>
        <span>{item.message}</span>
    </li>
    {/each}
</div>
