<script>
	import Board from './board.svelte';
	import Com from './com.svelte';
</script>

<style>
	h1 {
		text-align: center;
		color: #15ff00;
		font-size: 4em;
		font-weight: 100;
		text-shadow: 2px 2px rgb(61, 57, 57);
	}
</style>

<title>Chess Board</title>

<h1>Chess</h1>
<Board />
<Com />
