<script>
	import { writable } from 'svelte/store';
	import Square from "./square.svelte";
	import { socket } from './api.js';
	let columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'];
	let rows = ['8', '7', '6', '5', '4', '3', '2', '1'];
	const gameCode =  writable("Pre-game");
	const player =  writable(localStorage.getItem("player") || "guest");
	const turn =  writable("");

	socket.on('update-settings', game => {
		console.log('board ' + 'update-settings', game);
		$gameCode = localStorage.getItem("gameCode");
		$player = localStorage.getItem("player");
		$turn = game.turn;
	});
</script>

<style>
	.board-wraper {
		text-align: center;
		background: black;
		color: white;
		border-radius: 1em;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		max-height: 850px;
		max-width: 840px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 20px;
		margin: 0em auto;
	}
	.board {
		display: inline-flex;
	}
	.code {
		display: inline-flex;
		position: relative;
		right: 5em;
	}
	.turn {
		display: inline-flex;
		position: relative;
	}
	.player {
		display: inline-flex;
		position: relative;
		left: 5em;
	}
</style>

<div class="board-wraper">
	<div class="header">
		<div class="code">Game Code: {$gameCode}</div>
		<div class="turn">{$turn}s turn</div>
		<div class="player">Player: {$player}</div>		
	</div>
	<div class="board">

		<div>
			{#each rows as row}
			<Square x={null} y={row} />
			{/each}
		</div>
		{#each columns as col}
		<div>
			{#each rows as row}
			<Square x={col} y={row} />
			{/each}
			<Square x={col} y={null}  />
		</div>
		{/each}
	</div>
</div>
