<script>
	import { writable } from 'svelte/store';
	import { socket } from './api.js';
	
	const gameCode = writable(localStorage.getItem("gameCode") || "");
  	gameCode.subscribe(val => localStorage.setItem("gameCode", val));
	let validCode = false
	const gameLogDisplay = writable([]);
	let gameLogs = [];
	const chatMessageDisplay = writable([]);
	let chatMessages = [];
	let message = null;
	function getRandomName(){
		let names = ["Alen","Tom","William","Joe","Wanda","Tim","James"]
		return names[Math.floor(Math.random() * names.length)]
	}
	const name = writable(localStorage.getItem("userName") || getRandomName());
  	name.subscribe(val => localStorage.setItem("userName", val));
	let validName = false
	
	const player =  writable(localStorage.getItem("player") || "guest");
	
	let inGame = false;
	let blackIsOccupied = false;
	let whiteIsOccupied = false;
	
	// mangage game
	$: { // game code and name validation
		if($name.length > 0){
			validName = true;
		} else {
			validName = false;
		}
		if( $gameCode != null ){
			// console.log('check server for Game Code', $gameCode);
			socket.emit('get-game', $gameCode);
			blackIsOccupied = false;
			whiteIsOccupied = false;
			validCode = true;
		}else {
			validCode =  false;
		}
	};
	
	function newCode(){
		let len = 7;
		var text = "";
		var charset = "aAbBcCdDeEfFgGhHiIjJkKlLmMnNoOpPqQrRsStTuUvVwWxXyYzZ123456789";
		for (var i = 0; i < len; i++){
			text += charset.charAt(Math.floor(Math.random() * charset.length));
		}
		$gameCode = text;
	};
	
	function join_create_game() {
		let gameToJoin = {
			gameCode: $gameCode,
			name: $name,
			player: $player
		}
		localStorage.setItem("player", $player)
		console.log('join_create-game', gameToJoin);
		socket.emit('create-join-game', gameToJoin);
	};
	
	socket.on('update-settings', (game) => {
		// console.log('com update-settings', game);
		
		if (game.black == $name){
			$player = 'black';
		}else if (game.white == $name){
			$player = 'white';
		} else {
			$player = 'guest';
		}
		whiteIsOccupied = game.white != '';
		blackIsOccupied = game.black != '';
		inGame = game.inGame;
		
		localStorage.setItem("player", $player)
		localStorage.setItem("turn", game.turn)

	});
	
	socket.on('get-user', ()=>{
		socket.emit('send-user', {
			gameCode: $gameCode,
			name: $name,
			player: $player
		})
	});
	
	function leaveGame() {
		let gameToLeave = {
			gameCode: $gameCode,
			name: $name,
			player: $player
		}
		console.log('leave-game', gameToLeave);
		socket.emit('leave-game', gameToLeave);
	};
	
	// manage messages/logs
	socket.on('log-move', message => {
		gameLogs.push({
			id: Math.random(),
			player: message.player,
			message: message.message
		});
		$gameLogDisplay = gameLogs;
	});
	
	function sendMessage() {
		if ( message != null ){
			console.log(message)
			socket.emit('message',  {
				name: $name,
				message: message
			});
			message = null;
		}
	};
	socket.on('chat-message', message => {
		// console.log(' recived chat ', message )
		chatMessages.push({
			id: Math.random(),
			player: message.name,
			message: message.message
		});
		$chatMessageDisplay = chatMessages;
	});
	// manage board state
	function clearBoard() {
		// console.log('clean-board');
		socket.emit('clean-board', {
			gameCode: $gameCode,
			id: 'all'
		});
		gameLogs = []
		$gameLogDisplay = gameLogs;
		chatMessages = []
		$chatMessageDisplay = chatMessages;
	};
	function setBoard() {
		// console.log('set Chess '),
		socket.emit('set-board-to-state', $gameCode);
	};
</script>

<style>
	.comWindow {
		display: inline-flex;
		max-width: 90vw;
		min-width: 20em;
		flex-wrap: wrap;
	}
	.window {
		background: #d6d6c2;
		display: inline-block;
		width: 19em;
		height: 11em;
		text-align: left;
		border: 1px solid #eee;
		border-radius: 1em;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
		padding: 1em;
		margin: 1em ;
	}
	.window .title {
		font-weight: bold;
		width: 18em;
	}
	.window span {
		display: inline-block;
		width: 6em;
	}
	.window input#name {
		width: 12em;
	}
	.window #join-create {
		text-align: center;
		margin: 0em auto;
	}
	.window input#gameCode {
		width: 6em;
	}
	.window .view {
		background: white;
		text-align: left;
		height: 6.5em;
		width: 17em;
		overflow: auto;
		border: 1px solid darkgray;
		margin: 0.5em auto;
		padding: 0px;
	}
	.window .view li {
		list-style: none;
		padding: 6px 10px;
		border-bottom: 1px solid #ddd;
	}
	.window .view#log {
		height: 8.5em;
	}
	.window .send {
		width: 17em;
		margin: 0em auto;
	}
	.window .send input {
		width: 13em;
	}
	.window .send button {
		width: 3.7em;
	}
	
</style>

<div class="comWindow">
	<div class="window">
		<span class="title">
			Game Controles:
		</span>
		<br/>
		{#if inGame}
		<button on:click="{clearBoard}">Clear Board</button>
		<button on:click="{setBoard}">Set Board</button>
		<button on:click="{leaveGame}">Leave Game</button>
		{:else}
		<span>Name</span>
		<input id="name" type="text" bind:value={$name} />
		<br />
		<span>Game Code</span>
		<input id="gameCode" type="text" bind:value={$gameCode} />
		<button on:click="{newCode}">New Code</button>
		<br />
		<span>Black <input type=radio disabled={blackIsOccupied} bind:group={$player} value="black"></span>
		<span>White <input type=radio disabled={whiteIsOccupied} bind:group={$player} value="white"></span>
		<span>Guest <input type=radio bind:group={$player} value="guest"></span>
		<br />
		<div id="join-create">
			<button disabled={!(validName && validCode)} on:click="{join_create_game}">Join/Create Game</button>
		</div>
		{/if}
	</div>
	<div class="window">
		<span class="title">
			Game Log:
		</span>
		<div id="log" class="view">
			{#each $gameLogDisplay as item}
			<li class="message">
				<span>{item.player}:</span>
				<span>{item.message}</span>
			</li>
			{/each}
		</div>
	</div>
	<div class="window">
		<span class="title">
			Site Chat:
		</span>
		<div class="view">
			{#each $chatMessageDisplay as item}
			<li class="message">
				<span>{item.player}:</span>
				<span>{item.message}</span>
			</li>
			{/each}
		</div>
		<div class="send" >
			<input id="message" type="text" bind:value={message} />
			<button on:click={sendMessage}>Send</button>
		</div>
	</div>
</div>
