<script>
	import { writable } from 'svelte/store';
	import { socket } from './api.js';
	export let x;
	export let y;
	const gameCode = writable(localStorage.getItem("gameCode") || null);
	gameCode.subscribe(val => localStorage.setItem("gameCode", val));
	
	const player =  writable(localStorage.getItem("player") || "guest");
	player.subscribe(val => localStorage.setItem("player", val));
	let thisSquare = {
		"code": null,
		"id": (x + y).toString(), 
		"type": null, // name of piece on square Ex: "Pawn"
		"player": null, // color of players pieces
		"location": { "x": x, "y": y },
		"display": '', // unicode of piece to display Ex: '\u265F'
		"highlight": false, // inicatior for a piece can move here
		"highlightOwner": null // location of piece that highlighted the square
	}
	$: {
		thisSquare.code = $gameCode;
	}
	function color () {
		let octal = {"a": "10", "b": "11", "c": "12", "d": "13", "e": "14", "f": "15", "g": "16", "h": "17"}; 
		return (parseInt(octal[x]) + parseInt(y))%2;
	}
	
	socket.on('update-settings', game => {
		// console.log('square update-settings', game);
		if(game != null){
			$gameCode = game.code;
		}
	});
	socket.on('clean-square', id => {
		// console.log('clean-square', id);
		if ( id == thisSquare.id || id == "all" ){
			thisSquare.player = null;
			thisSquare.type = null;
			thisSquare.display = '';
			thisSquare.highlight = null;
			thisSquare.highlightOwner = null;
		}
		if ( id == 'highlight' ){
			thisSquare.highlight = null;
			thisSquare.highlightOwner = null;
		}
	});
	socket.on('set-piece-on-square', item => {
		// console.log('set-piece-on-square', item);
		if ( item.id == thisSquare.id ){
			thisSquare.player = item.player;
			thisSquare.type = item.type;
			thisSquare.display = item.display;
		}
		thisSquare.highlight = null;
	});
	socket.on('get-square', item => {
		if ( item.id == thisSquare.id ){
			// console.log('get-square', item)
			socket.emit('square-responce', thisSquare);
		}
	});
	socket.on('highlight-square', item => {
		if ( item.id == thisSquare.id ){
			// console.log('highlight-square', item);
			if ( thisSquare.player == null){
				// console.log('highlight ' + thisSquare.location.x + thisSquare.location.y + ' for ' + item.id, item.player)
				thisSquare.highlight = true;
				thisSquare.highlightOwner = item.optionOwner;
			}
		}
	});
	function squareClicked(){
		console.log('squareClicked: ' +  thisSquare.id, $gameCode);
		if (localStorage.getItem("player") == thisSquare.player 
			&& localStorage.getItem('turn') == thisSquare.player){
			socket.emit('square-clicked', thisSquare);
		} else {
			let copy = thisSquare.constructor();
			for (var attr in thisSquare) {
				if (thisSquare.hasOwnProperty(attr)) copy[attr] = thisSquare[attr];
			}
			copy.type = null;
			socket.emit('square-clicked', copy);
		}
	}
</script>

<style>
	[name="Square"] {
		text-align: center;
		align-items: center;
		height: 10.5vw;
		width: 10.5vw;
		max-height: 100px;
		max-width: 100px;
		font-size: min(9.5vw, 5.5em);
		border: 1px solid black;
	}
	[name="Square"]:hover {
		border: 1px solid lawngreen;
	}
	[name="Square"] span {
		margin: 0.5em, auto;
	}
	.Odd {
		background-color: gray;
	}
	.Even {
		background-color: darkred;
	}
	.black {
		color: #253623;
	}
	.white {
		color: whitesmoke;
	}
	.side {
		display: flex;
		height: 10.7vw;
		max-height: 102px;
		align-items: center;
	}
	.true {
		background-color: aqua;
		opacity: 0.5;
		z-index: 100;
	}
</style>

{#if x == null || y == null}
{#if x == null }
<div class="side">
	<span>{y}</span>
</div>
{:else}
<div class="bottom" >
	{x}
</div>
{/if}
{:else if color() > 0}
<div name="Square" class="Even {thisSquare.highlight} {thisSquare.player}"
		 on:click={squareClicked}>
	<span>{thisSquare.display}</span>
</div>
{:else }
<div name="Square" class="Odd {thisSquare.highlight} {thisSquare.player}" 
		 on:click={squareClicked}>
	<span>{thisSquare.display}</span>
</div>
{/if}
